.backdropContainer {
  top: 0;
  left: 0;
  z-index: -1;
  width: 300vw;
  height: 300vh;
  position: fixed;
  touch-action: none;
  transform: translate(-100vw, -100vh);
}

.backdrop {
  opacity: 0.5;
  height: 100%;
}

.dropdown {
  z-index: 900;
}

.arrow {
  border-width: 1em;
  border-style: solid;
  position: absolute;
  box-sizing: border-box;
  font-size: 10px;
}

.popperArrow[data-popper-placement="bottom"] .arrow {
  border-color: transparent transparent currentColor transparent;
  top: -1.7em;
}

.popperArrow[data-popper-placement="top"] .arrow {
  border-color: currentColor transparent transparent transparent;
  bottom: -1.7em;
}

.popperArrow[data-popper-placement="right"] .arrow {
  border-color: transparent currentColor transparent transparent;
  left: -1.7em;
}

.popperArrow[data-popper-placement="left"] .arrow {
  border-color: transparent transparent transparent currentColor;
  right: -1.7em;
}
